
<h1>Employee List</h1>

<div>
    <span>Search</span>
    <!-- <input type="text" placeholder="Find by name"  ngModule   #search="(ngModel)"> -->
    <input   type="text" [(ngModel)]="searchKey"  #search="ngModel" (keyup.enter)="onKeyUp()" placeholder="Find by name" />

</div>
<div  name="list" *ngFor = "let emp of filteredEmployees" [ngStyle]="{
    'border' : '2px solid skyblue',
    'float' : 'left',
     'width' : '33%',
      'margin' : '10px 10px 10px'
    }">
  <app-employee-info [emp] = "emp"></app-employee-info>
  
</div>
<!-- <div>
  <app-employee-info></app-employee-info>
</div> -->