

 <div class="block">
<form [formGroup]="empForm" (ngSubmit)="onSubmit()">
    <label for="name">Name</label>
    <br>
    <input   type="text" formControlName="username" [style.border]="cltr('username')?.valid ? brdValid : brdInvalid" (ngOnChanges)="nameChange($event)">
<!-- <div *ngIf= "!name.valid">Input field is required</div> -->
 <div *ngIf = "cltr('username')?.invalid">
  <div class="alert alert-danger">username is required</div>
 </div>
 <br>
   <div class="form-group" >
   <label for="salary">Salary</label>
   <br>
   <input   type="number" id="salary" [style.border]="cltr('salary')?.valid ? brdValid : brdInvalid"  formControlName = "salary"/>
   <div *ngIf = "cltr('salary')?.invalid" class="alert alert-danger">Minimum salary of {{cltr("salary").errors?.min.min}} is required</div>
   <br>
   </div>

   <div class="radioBox">
       <p>Is permanent employee or not ?</p>
    <input type="radio" id="permanentTrue"   value="true" formControlName="permanent"><label for="permanentTrue">yes</label>
    <input type="radio" id="permanentFalse"  value="false" formControlName="permanent"  ><label for="permanentTrue">no</label>
  </div>
  <div>

    <h3>Department</h3>
    
    <select formControlName="department">
    <option *ngFor="let department of departments"   [ngValue]="department"  [selected]="department.id === emp.department.id">
    {{department.name}}
    </option>
    </select>
    </div>
    <div>
        <input type="button" value="Add Skill" (click)="addSkill()">
    </div>
    <div  formArrayName = "skills">
       <div *ngFor="let it of dynSkills().controls; let skill= index">
           <input type="text" [formControlName]= "skill">
       </div>
    </div>
  <button class="btn btn-primary ">Submit</button>
</form>
</div>
<div class="block">

    <strong>Employee Model</strong><br>
    
    <pre>{{emp | json }}</pre>
    
  </div>
  <div class="block">

    <strong>Angular Generated Form Model</strong><br>
    
    <pre>{{empForm.value  | json}}</pre>
    
    </div>